# НАСТРОЙКИ API ДЛЯ КОНВЕРТАЦИИ ВАЛЮТ
# API ключ для Exchange Rates Data API
# Зарегистрируйтесь на https://apilayer.com/marketplace/exchangerates_data-api
# и получите бесплатный ключ
API_KEY=your_actual_api_key_here

# Базовый URL EXCHANGERATES
# EXCHANGERATES_URL=https://api.apilayer.com/exchangerates_data

# НАСТРОЙКИ API ДЛЯ ПОЛУЧЕНИЯ ЦЕН НА АКЦИИ
# API ключ для TWELVE_DATA:
# Зарегистрируйтесь на https://api.twelvedata.com/price
# и получите бесплатный ключ
API_KEY=your_actual_api_key_here

# Базовый URL TWELVE_DATA_PRICE
# TWELVE_DATA_PRICE_URL= https://api.twelvedata.com/price

# GITHUB TOKEN
# Personal Access Token для GitHub
# Создайте на: https://github.com/settings/tokens
# Необходимые scope: repo, read:org, user (в зависимости от нужд)
GITHUB_TOKEN=your_github_token_here